@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&family=Racing+Sans+One&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Racing+Sans+One&family=Rowdies:wght@300;400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
body {
    background-repeat:no-repeat;
  }
 body{
    background-image: linear-gradient(#4683b4c7,
    #4683b4bb),url("360_F_77810263_zgIAUTTlwF0Bl8ZCxHsofgTzXlZXy9Nn.jpg");
    height:auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
  }
  h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #ffdd00;
    text-align: center;
    transition: 0.5s;
  }
  h3:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    text-align:center;
    height: 5px;
    margin-top: 10px;
    position: relative;
    left: 40%; 
    background: #fff;
    border-radius: 50px;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  h3:hover:after { 
    width: 10%; 
    left: 45%; 
    background: rgb(255, 150, 150);
  }
.Heading{
    display: flex;
    flex-wrap: wrap;
    color: rgb(234, 42, 42) ;
    padding-top: 50px;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}
.Heading img {
 height: auto;
 width: 100px;
 border-radius: 20px;
}
.Heading h1{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffff;
    transition: 1s;
  }
  .Heading h1:hover{
    transform: translateY(-3px);
    
  }
  .container{
    background: #000000;
    position: relative;
    display:inline-flex;
    flex-direction: row;
    margin: 50px;
    justify-content:space-around;
    align-items:center;
    width:fit-content;
    border-radius: 20px;
  }
  .container .left{
    flex-basis: 50%;
  }
 .right{
    position:relative;
    display: inline-block;
    flex-basis: 70%;
  }
  .container .left img{
    width:75%;
    padding:35px;
    flex-direction: column;
    border-radius: 100px;
  }
  .right h2{
    font-size: 38px;
    color: chocolate;
    text-align:left;
    align-self: flex-start;
    font-family: orbitron;
    text-transform: uppercase;
    margin-top:0px;
  }
.info{
  display: flex;
  margin-top: -80px;
  flex-direction:column;
  word-spacing: 20px;
}
.info h4{
  text-align: left;
  align-items: center;
  font-size: 28px;
  color: rgb(255, 0, 0);
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.col2{
  display: flex;
  justify-content: space-evenly;
}
.right h5{
  text-align: center;
  margin-top: -30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: #ffdd00;
}
.right p{
  text-align: left;
  margin-top: -30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  font-weight: bolder;
  color: #ffdd00;
}
.fa-regular ,.bx,.fa-baseball-bat-ball{
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
font-size: 35px;
padding: 10px;
margin-right: 50px;
text-align: left;
transition: .7s ;
}
.fa-regular:hover ,.bx:hover,.fa-baseball-bat-ball:hover{
  background-color:chocolate;;
  color: #000000;
  border-radius: 10px;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  word-spacing: 6px;
  display: flex;
  font-size: 20px;
  font-family:fantasy;
  margin: 4px 2px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
.button {
  background-color: white;
  color: black;
  border-radius: 20px;
}
.button:hover {
background-color: #04AA6D;
color: white;
transition: 1s;
transform: translateY(-5px);
}
.fa-house-chimney,.fa-arrow-left{
  color:rgb(255, 183, 0);
  font-size: larger;
  
}
@media screen and (max-width: 600px) {

.Heading img {
 width: 50px;
}
.Heading h1{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0px;
  }
h3{
    font-size: 20px;
    color: #ffdd00;
  }
  .container .left{
    flex-basis: 20%;
  }
 .right{
    flex-basis: 50%;
  }
  .container .left img{
    width:75%;
    align-items: center;
    justify-content: center;
  }
  a{
    text-decoration: none;
    color:#04AA6D
  }
  .right .mob1{
    font-size: 15px;
    text-align:center;
    margin-top:0px;
  }
  .container{
    flex-direction: column;
    width:fit-content;
  }
  .info{
    margin-top: 8px;
    margin-bottom: 50px;
  } 
  .info h4{
    margin-top: 25px;
    font-size: 12px;
    word-spacing: normal;
  }
  .right h5{
    text-align: center;
    font-size: 15px;
  }
  .right p{
    text-align: left;
    font-size: 15px;
  }
  .fa-regular ,.bx,.fa-baseball-bat-ball{
    margin-left: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
  }
  .right .col2{
    margin-top: 25px;
  }
  .right h2{
    font-size: 15px;
  }
}